<p>Tipo de solicitud</p>
<select name="tiposoli" onChange="TiposOnChange(this)">
	<option value="1" >Primera Clave</option>
	<option value="2" >Segunda Clave</option>
</select>

<p>Max Longitud</p>
<input type="number" name="maxlongitud"></input>
<p>Min Longitud</p>
<input type="number" name="minlongitud"></input>

<p>Max Caracteres</p>
<input type="number" name="maxcaracteres"></input>
<p>Min Caracteres</p>
<input type="number" name="mincaracteres"></input>

<p>Max Alfanumerico</p>
<input type="number" name="maxalfanumerico"></input>
<p>Min Alfanumerico</p>
<input type="number" name="minalfanumerico"></input>

<p>Max Numerico</p>
<input type="number" name="maxnumerico"></input>
<p>Min Numerico</p>
<input type="number" name="maxnumerico"></input>

<p>Max Capital</p>
<input type="number" name="maxcapital"></input>
<p>Min capital</p>
<input type="number" name="maxcapital"></input>

<p>Numero Reintentos</p>
<input type="number" name="numeroreintentos"></input>

<p>Dias Cambios</p>
<input type="number" name="diascambios"></input>
<p><input type="submit" /></p>